.jumbotron {
    text-align: center;
}

.container {
    background-color: white;
    padding: 15px;
}

body {
    background-image: url("../images/fancy.jpg");
}
.gif {
    max-width: 100%;
    width: 340px;
    padding-bottom: 10px;
}