.jumbotron {
    text-align: center;
    /* background-color:black; */
    background-image: url("../images/fast-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f9eed8;
    font-family: 'Luckiest Guy', cursive;
}
.display-4 {
    font-size: 4rem;
    text-shadow:5px 5px 8px #000;
}
.lead {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-shadow:5px 5px 8px #000;
}

.form-group {
    font-family: 'Changa', sans-serif;
    font-size: 1.3rem;
}

.white-bg {
    background-color: white;
    padding: 15px;
}

body {
    background-color: #282828;
}
#gifs {
    text-align: center;
}
.gif {
    max-width: 100%;
    width: 340px;
    padding-bottom: 10px;
}
.card {
    margin-bottom: 20px;
    padding: 10px;
}
h5 {
    font-family: 'Changa', sans-serif;
    font-size: 1.3rem;
    border-bottom: #282828 2px solid;
    padding-right: 20px;
}

.btn-dark {
    background: #282828;
}
.webBtn {
    width: 120px;
    margin: 10px;
}