.jumbotron {
    text-align: center;
}

.white-bg {
    background-color: white;
    padding: 15px;
}

body {
    background-image: url("../images/fancy.jpg");
}
#gifs {
    text-align: center;
}
.gif {
    max-width: 100%;
    width: 340px;
    padding-bottom: 10px;
}
.card {
    margin-bottom: 20px;
}
.webBtn {
    width: 150px;
    margin: 10px;
}